.filter-items{
	list-style: none;
}
.filter-items .filter-condition label{
	float: left;
}
.filter-items .filter-condition ul{
	float: left;
	list-style: none;
	margin: 0;
}
.filter-items .filter-condition li{
	float: left;
}
.filter-items .filter-condition a{
	display: block;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
}
.filter-items .filter-condition .active {
	color: #fff;
	background: #00f;
}